[Unit]
Description=Athena Workshop Runner
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/athena
ExecStart=/snap/node/current/bin/node --enable-source-maps /opt/athena/dist/runner.js
StandardOutput=journal
StandardError=journal
SyslogIdentifier=athena-runner
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
