[Unit]
Description=Athena Workshop Runner
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/athena
ExecStart=/snap/bin/node --enable-source-maps /opt/athena/dist/runner.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
